body{
    overflow-y: hidden;
}

.newLines{
padding-top: 5%;
display: flex;
}

@media only screen and (max-width: 600px) {
    html,body{
        overflow-y: hidden;
    }

    .newLines{
        padding-top: 2px;
        display: flex;
        } 
         
}

